.container-fluid

%h1.display How it works

%br
%h1 Funding
%br

%h3 Create Your Fundraising Profile

%p 
  It all starts with your business and your story. Fill out the application so you can begin telling your community about what you do and how it works.

%h3 Engage Your Community in Funding Your Venture

%p 
  Small businesses build their funding profile to show their company overview, the funding goal, and the rewards and returns they wish to offer in exchange for the support their backers offer. Begin by reaching out to your own networks: friends, family, customers, social connections, and the media. As you demonstrate traction by engaging each of this rings of supporters, more and more people will find and support the project from the broader CloudFunded community as well. 

%h3 Anyone Can Pledge Money to Fund a New Enterprise

%p 
  CloudFunded members can choose to support any venture, with cash pledges starting at a $1 and up. Each business determines what rewards you get in return, everything from pre-release specials, custom & creative t-shirts, and celebratory dinners to feature requests, permanent recognition, or even an advisory role in the enterprise. 

%h3 Funders Get Engaged and Help Out

%p 
  Once you have your community’s support and people are opening up their wallets and checkbooks to chip in, then things really get interesting. With all these funders backing you, they can bring more than cash to the table. Funders can help attract new customers, get the word out when you have a milestone or launch announcement, and contribute in many other ways. This kind of volunteering and leadership is what makes community ownership and the crowd approach to creativity and funding so enjoyable!

%h3 On CloudFunded, Rewards Campaigns Keep it All!

%p 
  CloudFunded uses an open approach that provides flexible funding. You raise pledge money for the rewards you offer. When you get started, you have to set a campaign goal. There is no upper limit on how much you can raise. You do have to declare a target, but if you raise beyond your target amount, your campaign keeps going. If you have a limited supply, you can set a limit on the number of each reward that you are offering. Other platforms might charge higher fees or create a steep cliff for minimum funding. For our rewards projects, we don't believe in charging any penalty fees and we don't charge monthly fees. Our transaction fee is 3.5% plus credit card fees when applicable. We have gone to great lengths to find the lowest cost credit card fees available and AmEx, Visa, Mastercard, and Discover all have the same low rate on our platform. In addition, when a funder pays with a Dwolla pledge using their bank account, credit card fees can be avoided entirely and replaced with Dwolla's simple 25cent charge, which is also waived for microtransactions under $10.  

%h3 How Can I Start or Fund an Investment Project?

%p 
  The law that allows investing was signed on April 5, 2012. However, the parts that allow crowdfunding investments do not go into effect until the SEC approves regulations to implement the law, which are expected on December 31st, 2012. As soon as the SEC approves regulations and gives us the green light, we will allow you to create and fund offerings where you have the opportunity to get your money back or even earn a return. In the meantime, you can start and fund projects based on great rewards for the backers. 


%br
%h1 The Application
%br

%p 
  Every business starts by creating their listing to get funded. You can begin your application and launch it, then come back to continue to fill in more details and improve it. We allow you to save your progress every step of the way, so get started now. 

%h3 Are You a Good Fit?

%p 
  We want anyone and everyone doing good work in this world to get involved and have the access to the resources they need. 

%h3 Awesome Rewards
%p 
  Your Funders get rewards for the pledges they give you. Take the time to make these rewards awesome. Remember you are starting or continuing a relationship with these people, the ones who like you and your idea enough to chip in and get it going. You want to have great rewards that they are excited about and want to tell others about. These are the folks who are going to be your customers, your word-of-mouth advertising, and your biggest fans. Reward your fans!

%h3 A Goal and a Plan

%p 
  Set the right goal for exactly what you need to accomplish. If you don’t know how much you need, think and write about it and sketch out your plans until you know. People want to give to something concrete, where they have clear grasp of what you can deliver and how are going to do it. You owe it to yourself and your community to set the right goal, so you can all rally around it together. Remember, unlike other platforms, you aren’t penalized for missing your goal and nothing is stopping you from meeting your goal and charging right past it to greater success. What matters is that your funding goal is attached to a clear plan that you are ready to carry out. 
  
%h3 A Story

%p 
  Your have to tell a story! People are ready to support you, they just need to know how and why. Tell them!

%h3 Engage Your Networks!
%p 
  To succeed, you have to really put yourself out there. You have to be willing to make a statement. You have to market yourself and you have to market your project. If you want to succeed at crowdfunding, you have to get up at the front of the crowd and speak out so everyone can hear you. Are you ready to get your message out? Can you make the most awesome video the internet has ever seen? Are you willing to ask for help? Are you willing to call the press and tell them what you are doing? Then you are ready to start, let’s get you CloudFunded!

%h3 Finally, Get Your Team in Gear!

%p 
  Tell us about you and anyone who is on your team. People love people. We want to know why you are passionate about this, what you’ve done before that shows how awesome you are, and what you’ve already accomplished in your new venture so far. Your progress to date is called traction. A great team and great traction make a great story. Now, let’s get you started telling it…
 
.button1.yellow.large= link_to 'Begin Application!', get_funded_path

