.static_page
  %h1 How It Works

  %h3 Create Your Fundraising Profile

  %p 
    It all starts with your business and your story. Fill out the application so you can begin telling your community about what you do and how it works.

  %h3 Engage Your Community in Funding Your Venture

  %p 
    Small businesses build their funding profile to show their company overview, the funding goal, and the rewards and returns they wish to offer in exchange for the support their backers offer. Begin by reaching out to your own networks: friends, family, customers, social connections, and the media. As you demonstrate traction by engaging each of this rings of supporters, more and more people will find and support the project from the broader CloudFunded community as well. 

  %h3 Anyone Can Pledge Money to Fund a New Enterprise

  %p 
    CloudFunded members can choose to support any venture, with cash pledges starting at a $1 and up. Each business determines what rewards you get in return, everything from pre-release specials, custom & creative t-shirts, and celebratory dinners to feature requests, permanent recognition, or even an advisory role in the enterprise. 

  %h3 Funders Get Engaged and Help Out

  %p 
    Once you have your community’s support and people are opening up their wallets and checkbooks to chip in, then things really get interesting. With all these funders backing you, they can bring a lot more than cash to the table. Funders can help attract new customers, get the word out when you have a milestone or launch announcement, and contribute in many other ways. This kind of volunteering and leadership is what makes community ownership and the crowd approach to creativity and funding so enjoyable!

  %h3 On CloudFunded, Rewards Campaigns Keep it All!

  %p 
    CloudFunded uses an open approach that provides flexible funding. You raise pledge money for the rewards you offer. When you get started, you have to set a campaign goal. There is no upper limit on how much you can raise. You do have to declare a target, but if you raise beyond your target amount, your campaign keeps going. If you have a limited supply, you can set a limit on the number of each reward that you are offering. Other platforms might charge higher fees or create a steep cliff for minimum funding. For our rewards projects, we don't believe in charging any penalty fees and we don't charge monthly fees. Our transaction fee is 3.5% plus credit card fees when applicable. We have gone to great lengths to find the lowest cost credit card fees available and AmEx, Visa, Mastercard, and Discover all have the same low rate on our platform. In addition, when a funder pays with a Dwolla pledge using their bank account, credit card fees can be avoided entirely and replaced with Dwolla's simple 25 cent charge, which is also waived for micro-transactions under $10.  

  %h3 How Can I Start or Fund an Investment Project?

  %p 
    The law that allows investing was signed on April 5, 2012. However, the parts that allow crowdfunding investments do not go into effect until the SEC approves regulations to implement the law, which are expected on December 31st, 2012. As soon as the SEC approves regulations and gives us the green light, we will allow you to create and fund offerings where backers have the opportunity to get money back and even earn a return, sometimes significant returns. In the meantime, you can start and fund projects based on great rewards for the backers. 

  .button1.yellow.large= link_to 'Begin Application!', get_funded_path

