<div class="container">
  <div class="row">
    <div class="span8 offset2">
      <h1>The JOBS Act</h1>
      <h3>Before:</h3>
      <p>
        Before the JOBS act, only accredited investors could invest in companies.
        This means consolidation of wealth as well as consolidation of decision-making
        regarding community development...
      </p>
      <h3>After:</h3>
      <p>The JOBS act makes everyone an investor, and gives everyone the ability to have a stake
        in which businesses develop and flourish in their own community!
        </p>
        <p>blah blah blah</p>
    </div>
  </div>
</div>