---
http_interactions:
- request:
    method: post
    uri: https://www.dwolla.com/oauth/rest/transactions/send
    body:
      encoding: US-ASCII
      string: ! '{"amount":0.0,"pin":1234,"destinationId":"812-608-2017","destinationType":"dwolla","notes":"Funding
        Account","oauth_token":"TuJ7nmmyGksCZAk2OXi1q7btY6wJou71gUMl6IS/0Pcs74si5J"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/octet-stream
    body:
      encoding: US-ASCII
      string: ! '{"Success":false,"Message":"Amount must be at least $0.01\r\nParameter
        name: amountcaused by parameter amount","Response":null}'
  recorded_at: Thu, 05 Jul 2012 07:17:38 GMT
recorded_with: VCR 2.2.2
