.pledge
  .investor= render pledge.investor
  .amount
    - if can?(:manage, pledge) || pledge.public
      = number_to_currency(pledge.amount)
    - if can?(:manage, pledge)
      = link_to 'Show', project_pledge_path(@project, pledge)
