%h1 Listing pledges

%table
  %tr
    %th Amount
    %th
    %th
    %th

  - @pledges.each do |pledge|
    %tr
      %td= pledge.amount
      %td= link_to 'Show', project_pledge_path(@project, pledge)
      %td= link_to 'Edit', edit_project_pledge_path(@project, pledge)
      %td= link_to 'Destroy', project_pledge_path(@project, pledge), :confirm => 'Are you sure?', :method => :delete

%br

