%h3 Thank you for signing up for CloudFunded and beginning your listing for #{link_to @project.name, project_url(@project)}.

.p You've come to the right place! 

.p We are proud to offer you the tools you need to connect to your community and finance your project through the power of social networking, built on trust and relationships. 

.p Here are the steps you need to take to make your project succeed:

%ol
  %li Tell a good story. The real story behind your project is what will grab people and get them engaged. Keep refining your profile and make sure it tells the story you want to share!
  %li Now, tell your friends. Now! Getting your friends on board is what gets your campaign started. People close to you need to know what you’re doing, so they can help. Getting early support from your friends is the key to starting your campaign. 
  %li Make it visual. Get a photographer to help you get great photos for your project or spend the time, effort, and even money to make a great video that tells your story!
  %li Pitch those great rewards. Make sure folks know what they get from backing your project. They both get to be part of something great (your project) and they get an awesome reward from you, so use that for outreach. 
  %li Done all that? Now tell the press. The key to closing your campaign is going to be getting the word out there. Build on your early support and begin to tell your success story. People will flock to you if you get all these things in line. 

.p We can’t wait to see your project brought to life! 

.p Here's the link to your project page: #{project_url(@project)}

.p Good luck in your good work, 

.p The CloudFunded Team.