%p#notice= notice

%p
  %b Title:
  = @attachment.title

= link_to 'Edit', edit_polymorphic_path([:admin, @parent, @attachment])
\|
= link_to 'Back', polymorphic_path([:admin, @parent, :attachments])
