.p Thank you for signing up for CloudFunded. You are now on the cutting edge of the crowdfunding revolution!

.p We genuinely believe that the world is going to be a much better place when you can start putting your money to work close to home, in businesses where you can see the results of your investments at work every day. 

.p Let's get you started! Find your first project to support today:
.p http://www.cloudfunded.com/
