%h1 Pay for this shit fool

= form_for @pledge, url: wizard_path do |f|
  .payment_method
    Dwolla bitch!
    = radio_button_tag 'pledge[payment_method]', 'dwolla', true, id: 'payment_method_dwolla'
  .payment_method
    Credit Card (I'm a loser)
    = radio_button_tag 'pledge[payment_method]', 'cc', true, id: 'payment_method_cc'
  = f.submit 'Choose Payment Method'
  