.row
  .offset1.span2
    %a.twitter-follow-button{"data-show-count" => "false", :href => "https://twitter.com/cloudfunded"}
      Follow @cloudfunded
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  .span6.fb-like{"data-href" => "http://facebook.com/cloudfunded", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
  .span2
    © Cloudfunded 2012      
  .span1
    Got feedback? 
    %a= link_to 'Let us know', submit_feedback_path(about_page: request.path)
