%h1 Project Administration
%table
  - @projects.each do |project|
    %tr
      %td= link_to project.name, project
      %td= image_tag project.image.url(:medium), width: '70px'
      %td= link_to 'Delete', admin_project_path(project), method: :delete, confirm: 'Really?  It will be gone gone.'
