.static_page
  %h1= @page.title
  .page_body!= @page.body
  .clear
  .share
    %p
      %a(onclick='postToFeed(); return false;' href='#') Post to Facebook
    %p#msg
  .like
    .fb-like{'data-href' => page_url(@page), 'data-send' => true, 'data-width' => '450', 'data-show-faces' => true}
  .clear
  
= content_for :open_graph do
  %meta{property: 'og:type', content: 'article'}
  %meta{property: 'og:title', content: @page.title}
  %meta{property: 'og:image', content: '/assets/info.png'}
  %link{rel: 'image_src', href: '/assets/info.png'}
  %meta{property: 'og:url', content: page_url(@page)}
