.project_listing
  %h1 Make the projects you believe in happen!
  .button1.green.large= link_to 'Find Investments', projects_categories_path

  %ul#project_list
    = render @projects

.clear
%br/
%br/
= link_to get_funded_path do 
  .button1.yellow.large.glow Start Funding Your Own Project!
