.project_listing
  %h1 Make the projects you believe in happen!
  %h2= link_to 'Projects By Category', projects_categories_path

  = render @projects

.clear
%br/
%br/
= link_to get_funded_path do
  %h3 Start Funding Your Own Project!
