<h1>Get the word out!</h1>

<div class="row">
  <div class="span2">
    <%= render partial: 'shared/open_graph/launch', locals: {project: @project}%>
  </div>
  <div class="span6">
    <h2>"Launch" Your Campaign on Facebook</h2>
    <p>
      "Launching" a campaign on Facebook enters your campaign into the social network.  Your campaign will appear on your Facebook timeline, and you will receive notifications via Facebook when people like, comment, or make other gestures regarding your campaign.
    </p>
  </div>
</div>

<div class="row">
  
</div>

