<div class="company-profile">
   <div class="top">
      <div class="display-view">
         <div class="company-info long">
            <h1 class="company-name">Gistly.com</h1>
            <h2 class="elevator-pitch">Apartment search featuring personalized score card ratings from real people.</h2>
         </div>
         <div class="buttons">
            <button class="btn custom2 custom follow " data-company-id="60" data-user-is-following="False" data-follow-url="/home/following/togglefollowcompany?id=60" data-token="R1kyMDxfvLOoMOihpZb6n3HMAH8lSxDa1q0dwjuaei3QmrFsdqh6WX7YTc5LvXepHGUSaVPQvvEggqP/b22h4mvfNkyYNaliMBSVdowQ2iG9ksd7MjiwLCsKt1xZhcLdAO5FyGv9617vCWLkbEhAD+2M+BEDcLt/ceDLXeY1rMPUw6GhdV/EUA9f9eRxyJ4AiWAvPYPxA4CRH1Xkv3azcPSTlCDbEUnjAA22mZzs5VhLGStZov3j0oA70b73CcW22JcrQOdWtvVrCWCkC/y5QxQVL7LK0w1AWLlWaj5wqy+xIk9vtP5lB3bEm2UQoq6lEVxhV3CYLKlUS5FmrjsZ3A=="> 
            <span class="success"><span class="pictos">3</span> Following</span>
            <span class="danger"><span class="pictos">*</span> Unfollow</span>
            <span class="default"><span class="pictos">k</span> Follow</span>
            <span class="loading">Loading</span>
            </button>
            <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message</button>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <div class="marquee">
      <div class="content half-noisy">
         <div class="cover-section">
            <div class="inner">
               <div class="cover-media" style="background-image:url(https://fundable.blob.core.windows.net/logos/60/12.jpg)">
               </div>
               <div class="social">
                  <div class="social-links align-center">
                     <div class="link facebook">
                        <iframe src="//www.facebook.com/plugins/like.php?href=http://www.fundable.com/gistly&amp;send=false&amp;layout=standard&amp;width=350&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=24&amp;appId=237515676329060" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:24px;" allowtransparency="true"></iframe>
                     </div>
                     <div class="link">
                        <a target="_blank" href="http://pinterest.com/pin/create/button/?url=http://www.fundable.com/gistly?_s=4477&amp;media=https://fundable.blob.core.windows.net/logos/60/12.jpg&amp;description=Gistly.com - Apartment search featuring personalized score card ratings from real people." class="pin-it-button" count-layout="none"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
                     </div>
                     <div class="link">
                        <span style="line-height: 1; vertical-align: baseline; display: inline-block; text-align: center; " class="IN-widget"><span style="padding: 0px !important; margin: 0px !important; text-indent: 0px !important; display: inline-block !important; vertical-align: baseline !important; font-size: 1px !important; "><span id="li_ui_li_gen_1342721404353_0"><a id="li_ui_li_gen_1342721404353_0-link" href="javascript:void(0);"><span id="li_ui_li_gen_1342721404353_0-logo">in</span><span id="li_ui_li_gen_1342721404353_0-title"><span id="li_ui_li_gen_1342721404353_0-mark"></span><span id="li_ui_li_gen_1342721404353_0-title-text">Share</span></span></a></span></span></span><script type="IN/Share+init" data-url="http://www.fundable.com/gistly?_s=4477"></script>
                     </div>
                     <div class="link">
                        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1340179658.html#_=1342721403728&amp;count=none&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Fwww.fundable.com%2Fgistly&amp;size=m&amp;text=Gistly.com%20-%20Apartment%20search%20featuring%20personalized%20score%20card%20ratings%20from%20real%20people.%20&amp;url=http%3A%2F%2Fwww.fundable.com%2Fgistly%3F_s%3D4477&amp;via=Fundable" class="twitter-share-button twitter-count-none" style="width: 56px; height: 20px; " title="Twitter Tweet Button"></iframe>
                     </div>
                     <div class="clear"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="side">
            <div class="fundraise-highlights highlights">
               <h3 class="amount-raised">$3,100</h3>
               <span class="subtitle">RAISED OF $10,000 GOAL</span>
               <div class="outline">
                  <div class="status-bar">
                     <div class="bar" style="width:31%;"></div>
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="metric">
                  <h3 class="pictos">%</h3>
                  <h4 class="percent-raised">31%</h4>
                  <span class="subtitle">FUNDED</span>
               </div>
               <div class="metric">
                  <h3 class="pictos">S</h3>
                  <h4 class="backer-count">26 </h4>
                  <span class="subtitle">BACKERS</span>
               </div>
               <div class="metric">
                  <h3 class="pictos">k</h3>
                  <h4>7</h4>
                  <span class="subtitle">FOLLOWERS</span>
               </div>
               <div class="clear"></div>
               <div class="fundraise-unsuccessful hide">
                  <div style="padding:0 5px;">
                     <div class="well inset-content" style="padding-bottom:5px;">
                        <h4>UNSUCESSFUL FUNDRAISE</h4>
                        <hr class="dashed dark-dashed" />
                        <p>This fundraise ended on 7/28/2012.<br />No pledges will be processed.</p>
                     </div>
                  </div>
               </div>
               <div class="fundraise-successful hide">
                  <div style="padding:0 5px;">
                     <div class="well inset-content" style="padding-bottom:10px;">
                        <h4>FUNDED!</h4>
                        <hr class="dashed dark-dashed" />
                        <p>This fundraise successfully closed on 7/28/2012.</p>
                     </div>
                  </div>
               </div>
               <div class="fundraise-active hide" style="display: block; ">
                  <div class="back-button">
                     <div class="cta-wrapper">
                        <a class="btn auto cta" href="/pledge/create/214">Back this Startup</a>
                     </div>
                  </div>
                  <div class="countdown-wrapper">
                     <div class="countdown" data-fundraise-seconds-left="712198" data-fundraise-end-time="07/28/12 0:00:00 +00:00">
                        <div class="time days">
                           <h4>8</h4>
                           <span class="subtitle">DAYS</span>
                        </div>
                        <div class="time hours">
                           <h4>5</h4>
                           <span class="subtitle">HOURS</span>
                        </div>
                        <div class="time minutes">
                           <h4>24</h4>
                           <span class="subtitle">MINS</span>
                        </div>
                        <div class="time last seconds">
                           <h4>12</h4>
                           <span class="subtitle">SECS</span>
                        </div>
                        <div class="clear"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="profile-tabs">
            <ul>
               <li><a href="#profile" class="">Profile</a></li>
               <li><a href="#team">Team</a></li>
               <li><a href="#comments" class="">Comments
                  <span class="label">1</span>
                  </a>
               </li>
               <li><a href="#updates" class="active">Updates 
                  <span class="label">1</span>
                  </a>
               </li>
               <li><a href="#followers">Followers
                  <span class="label">7</span>
                  </a>
               </li>
               <li><a href="#backers">Backers
                  <span class="label">26</span>
                  </a>
               </li>
            </ul>
            <div class="clear"></div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <!-- end div.marquee -->
   <div class="profile-tab-content with-bg" id="profile-tab-content" style="display: none; ">
      <div class="fat pull-left">
         <ul id="profile-sections">
            <li class="profile-section text-section" data-section-id="477">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="477" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="About Gistly.com" />
                     <textarea id="edit-section-477-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/11.jpg" style="max-width: 100%; cursor: default; "&gt;&lt;strong&gt;Tired&lt;/strong&gt; of searching for an apartment and getting one vanilla box listing after another? &lt;strong&gt;Scratching your head over positive and negative reviews because they just don't matter&lt;/strong&gt;? With Gistly.com, we let you rate what's important and reveal only the best apartments that make the gist! Gistly.com is an apartment listing site letting users find their perfect apartment using 1-5 rate score card on key areas and matching apartments that fit! Get the Gist and Get moving! Gistly.com&lt;/p&gt;
</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-477-uploader" data-upload-to="edit-section-477-wysiwyg" data-section-id="477" data-company-id="60" data-token="HNckW1OIBSzfcCnPZB/apKIp32jtiZbPT5dOT4vr1E3fDMQgzqGnjFf84sWkAeb7clHQiMfDpLYuJucVsWePwJJXQv1XdV9rBKw75HIyuict58KRYRFapC/ujCGwHw+9nkcj0l7BCws88pbtQpLb4v4ZmF8Bx0WS9Ldy93trvU6Yr7bsA+z6ACfW+Q955b6HKFdfHCiLI4zA4gil+0RVVX0rep07Nh/JyZq2jL96gzvUQLqtPu6xpUNhviWJUL5QmWDMYr/Y67HNSGXKX7OM+3GVoXOhuzgbnkvecfCv6ilJoIrJuDgCDhzaTJSfM3fHNqtpn8f2XAysWUhMvk6avA==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">About Gistly.com</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/11.jpg" style="max-width: 100%; cursor: default; " /><strong>Tired</strong> of searching for an apartment and getting one vanilla box listing after another? <strong>Scratching your head over positive and negative reviews because they just don't matter</strong>? With Gistly.com, we let you rate what's important and reveal only the best apartments that make the gist! Gistly.com is an apartment listing site letting users find their perfect apartment using 1-5 rate score card on key areas and matching apartments that fit! Get the Gist and Get moving! Gistly.com
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="471">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="471" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="How it Works" />
                     <textarea id="edit-section-471-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/12.jpg" style="max-width: 100%; cursor: default; "&gt;We make finding the perfect apartment super easy. Simply rate major points on your apartment lifestyle by rating them on a 1-5 scale. Also, Gistly.com matches you to apartments rated by actual renters' score cards from that community that best fit! Easy, simple, done. &lt;strong&gt;Get Gistly and Get Moving!&lt;/strong&gt;&lt;/p&gt;</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-471-uploader" data-upload-to="edit-section-471-wysiwyg" data-section-id="471" data-company-id="60" data-token="EsJMQW9jEj1eDeWXxT7SRDy7UlgtGU/4sgy8vEmpzLpgNIBVt4ScxQGjD/+a/VZckbsOjfvAHEyK0pqT4wr8zY3uypu5X93YQ/yqdEOkzUN0xJrpOO9fy8ATT2kS/DSdNyy5fbITS6q5n08XiAQNUy9MpnHXTmWF3u6OUamH/HVxnLuELUAxiCCSMJgsfsTfzU+6VsN34P3jT3bP7R116XpZV6YahV9SBZ9ZZ378w6ATG73SoxREtqjfSqDruGJGj9bXu8N5qDF7Kh39AoGWPH4FFuSpYvm2wAHci5v9lsfYTk21kMdnBS8DBIav6Lz3ywq5jFvseTS3tnuf7ACYMw==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">How it Works</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/12.jpg" style="max-width: 100%; cursor: default; " />We make finding the perfect apartment super easy. Simply rate major points on your apartment lifestyle by rating them on a 1-5 scale. Also, Gistly.com matches you to apartments rated by actual renters' score cards from that community that best fit! Easy, simple, done. <strong>Get Gistly and Get Moving!</strong>
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="472">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="472" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="Get Gistly and Get Moving" />
                     <textarea id="edit-section-472-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/14.jpg" style="max-width: 100%; cursor: default; "&gt;&lt;strong&gt;With our secret technology&lt;/strong&gt; we match your ratings score card to apartments that fit the bill based on others rated score card in that community! From the best matches you can view videos / &amp;nbsp;photo galleries of the apartment and see what other apartment dwellers said about the apartment community.&lt;/p&gt;
&lt;p&gt;
	Then, simply reserve the apartment from Gistly.com or schedule a time to meet with the apartment community leasing office to secure the apartment.&lt;/p&gt;
</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-472-uploader" data-upload-to="edit-section-472-wysiwyg" data-section-id="472" data-company-id="60" data-token="9u6xCRXdMsvUmvK1v9/4bCnhkh9z8FDh9vgcSWjQyc7+grC8HM1nhiMHDkZonrNxywFk3Jvnzquov984HAyaziVMjmSHEEnjFBZtN3BdCn0o8Fzf1EeqvL0u+5tJKXi0cG3dy4l+o5SItla8Wt6lFHZjDdO/9Dsd7Yq/UlmiE9PDb/LlxDyhWqc3QZihx4A5hcx+cj88ReN16Pnkzrv6MXdPNC+wGjfQ1jxB0c3MxhmQszT5kpk+56UCRaVmg/vSsLN5+6h9xJnogmyYQBmp43DgOubW3eLjDszPJjpsnibHld1epsPtT4nuUxvczM/zx2b6QPBT9oBYA6S4CXaCSg==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">Get Gistly and Get Moving</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/14.jpg" style="max-width: 100%; cursor: default; " /><strong>With our secret technology</strong> we match your ratings score card to apartments that fit the bill based on others rated score card in that community! From the best matches you can view videos / &nbsp;photo galleries of the apartment and see what other apartment dwellers said about the apartment community.
                     </p>
                     <p>
                        Then, simply reserve the apartment from Gistly.com or schedule a time to meet with the apartment community leasing office to secure the apartment.
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="473">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="473" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="Why it Matters" />
                     <textarea id="edit-section-473-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/13.jpg" style="max-width: 100%; cursor: default; "&gt;Trying to find the right apartment online, a place you will call home for normally a year or longer, is tiring and cumbersome and takes hours, days and even weeks to sort and filter through generic apartment listing sites. Currently, these old dinosaur search sites force you to answer standard questions&lt;img src="https://fundable.blob.core.windows.net/profiles/60/6.jpg" style="max-width: 100%; cursor: default; "&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
	that don't get to the heart of the matter on how you really live and instead match up apartments simply based primarily on the number of bedrooms and bathrooms you need.&lt;/p&gt;
&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/7.jpg" style="max-width: 100%; cursor: default; "&gt;&lt;/p&gt;
&lt;p&gt;
	&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
	&lt;strong&gt;THAT JUST DOESN'T CUT IT!&amp;nbsp;&lt;/strong&gt;So we are changing that by letting you take control of the search process immediately and getting to the gist of what you want out of your new apartment. And what does this do? This let's you find the right apartment faster and easier to get you moving and settled in no time!&lt;/p&gt;</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-473-uploader" data-upload-to="edit-section-473-wysiwyg" data-section-id="473" data-company-id="60" data-token="YQBFO5Z4zrxEgiQ4eX9rKqC8nKsw8jaCcrQQnvzDs6o2WLWpLEZ/46LC92tcAnCIGOHSGVvJjmgaIhlt56cquZBkO0NY2x/8fmnJkSmPxUanmSKDIkD8eIvo/Tl+nGQHXtE+KIn3NSnwz2AJvdMe1OylsHagfLfQHxATnHgEAgmxVbXn0vqnimDy9SfTXo6uqxXGMhVgZKHxOchS2erPqrFgnkHQlbnisxjb4G0KMTqHTQ9MGTFAU5Pn1xM8VbHgymuXzJsWMthWT5Eae/ATm3WrpD19WkrBH/mHAKGpsujfqCFXatg2571k93OlcJu2LXPdf1LHYgqqtO9gfxv65g==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">Why it Matters</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/13.jpg" style="max-width: 100%; cursor: default; " />Trying to find the right apartment online, a place you will call home for normally a year or longer, is tiring and cumbersome and takes hours, days and even weeks to sort and filter through generic apartment listing sites. Currently, these old dinosaur search sites force you to answer standard questions<img src="https://fundable.blob.core.windows.net/profiles/60/6.jpg" style="max-width: 100%; cursor: default; " />&nbsp;
                     </p>
                     <p>
                        that don't get to the heart of the matter on how you really live and instead match up apartments simply based primarily on the number of bedrooms and bathrooms you need.
                     </p>
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/7.jpg" style="max-width: 100%; cursor: default; " />
                     </p>
                     <p>
                        &nbsp;
                     </p>
                     <p>
                        <strong>THAT JUST DOESN'T CUT IT!&nbsp;</strong>So we are changing that by letting you take control of the search process immediately and getting to the gist of what you want out of your new apartment. And what does this do? This let's you find the right apartment faster and easier to get you moving and settled in no time!
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="474">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="474" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="Refer a Friend for Gistly Bucks!" />
                     <textarea id="edit-section-474-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/15.jpg" style="max-width: 100%; cursor: default; "&gt;Have a friend or family member that needs to find the perfect apartment? &lt;strong&gt;Refer Gistly.com to your friends to sign up and receive $50 Gistly bucks that you can use for your own move-in costs&lt;/strong&gt;. Once they sign-up each friend is awarded $50 Gistly bucks to use for their own move-in costs.&lt;/p&gt;</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-474-uploader" data-upload-to="edit-section-474-wysiwyg" data-section-id="474" data-company-id="60" data-token="Y5Ijs8ZDTOEVmXcxtRVN2+afU28aGz2nHyJ5k2Md7EgSt2ZaqXXeK71TlIzHoWJePEeiFjOuYQKNRnLFR5SB8bjvzpRWf7EcF0lsHgQpqjuOBRZ/9Q+7VytceWOC7Qfb0g4wjuF0OW7Zv+ijGrqWI1P00RHy9rmaUtShjsGI0a2Leo5lNAGlUSEGsIrWrrRv/icAv/hU3OIM+MXrSUsg/D4x25CvxXZxpqTIU1c0XN5x81Q9Ny/wtvIyhTb8k35KqTyF/FHQ0nrSN0Az0pIT6tsK1jysFdnCN+XPIWw3Gz8nn1Gz3SNM2YSzOzVNiBpBNRqdulsfJRgpOyNEhbWPaw==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">Refer a Friend for Gistly Bucks!</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/15.jpg" style="max-width: 100%; cursor: default; " />Have a friend or family member that needs to find the perfect apartment? <strong>Refer Gistly.com to your friends to sign up and receive $50 Gistly bucks that you can use for your own move-in costs</strong>. Once they sign-up each friend is awarded $50 Gistly bucks to use for their own move-in costs.
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="556">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="556" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="With Gistly.com It's About You From the Start" />
                     <textarea id="edit-section-556-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/18.jpg" style="max-width: 100%; cursor: default; "&gt;&lt;/p&gt;
&lt;p&gt;
	&amp;nbsp;&lt;/p&gt;
&lt;p&gt;
	&lt;strong&gt;Gistly.com is not about matching you up with how many bedrooms and bathrooms an apartment has... heck, it &lt;em&gt;BETTER&lt;/em&gt; have that! &lt;/strong&gt;No, what Gistly.com does so differently is match you with what really matters based off your exact preferences. So, if you could care less how far it takes to get to work or whether the apartment staff is less than brilliant, but getting to your local sports pub is make or break to your pad, well Gistly.com will match you to apartments that fit that bill!&lt;/p&gt;
&lt;p&gt;
	What's great about our technology is that the matches come from past renters and prospects of an apartment community without their "commentary", which we know is not always that credible. &lt;strong&gt;That way you spend &lt;em&gt;LESS TIME&lt;/em&gt; searching for the great apartment and &lt;em&gt;MORE TIME&lt;/em&gt; staying focused on YOU.&lt;/strong&gt; And once you got the gist, well you won't want to move out!&lt;/p&gt;
&lt;p&gt;
	So, say bye-bye to all those long hours of searching online, then reading bad reviews, then going to "hopeful" apartments that are supposed to match to then finding out you were so wrong. &lt;strong&gt;Get the Gist and Get Moving! Gistly.com&lt;/strong&gt;&lt;/p&gt;
</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-556-uploader" data-upload-to="edit-section-556-wysiwyg" data-section-id="556" data-company-id="60" data-token="a3Pq8eDynxHt2ZiGtUqKVtnZhq2wWJ58wVt+n3u+ST2JGYyq5QYiantvBzFYIaoLeDrYTlIQMfm7UJjZbWOIuVjfX3ESqr5uAQqs9A9FHP8fd44mAUhpFzyud8/ueA9PT9VhftPmAIxHqUwk3CDWMyhpE5NmVDd0koarIf7rO6Pr8HDLWyRJVkbxZRQ+luO1ajhze7bam8zzCT1yWBMzXezH1Kip05/BUnM8bPcLW3kO2DAHeIYSWo0/PHwNqAf2XKeu1ZdDvoeohrK3l+Uk8/v62jkpan4OTd0hOntWECaJphn1EOGgJY6xz2b4wytBea52x8tvBTYSrphvT0xCpg==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">With Gistly.com It's About You From the Start</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/18.jpg" style="max-width: 100%; cursor: default; " />
                     </p>
                     <p>
                        &nbsp;
                     </p>
                     <p>
                        <strong>Gistly.com is not about matching you up with how many bedrooms and bathrooms an apartment has... heck, it <em>BETTER</em> have that! </strong>No, what Gistly.com does so differently is match you with what really matters based off your exact preferences. So, if you could care less how far it takes to get to work or whether the apartment staff is less than brilliant, but getting to your local sports pub is make or break to your pad, well Gistly.com will match you to apartments that fit that bill!
                     </p>
                     <p>
                        What's great about our technology is that the matches come from past renters and prospects of an apartment community without their "commentary", which we know is not always that credible. <strong>That way you spend <em>LESS TIME</em> searching for the great apartment and <em>MORE TIME</em> staying focused on YOU.</strong> And once you got the gist, well you won't want to move out!
                     </p>
                     <p>
                        So, say bye-bye to all those long hours of searching online, then reading bad reviews, then going to "hopeful" apartments that are supposed to match to then finding out you were so wrong. <strong>Get the Gist and Get Moving! Gistly.com</strong>
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="557">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="557" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="A Gistly Promise" />
                     <textarea id="edit-section-557-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/17.jpg" style="max-width: 100%; cursor: default; "&gt;&lt;strong&gt;Gistly promises to NEVER "Feature" apartments in your match&lt;/strong&gt;. We believe in 100% objective matches from the start. That is our promise to you. Fair and neutral matching never led by featured advertisers. &lt;strong&gt;We promise to get to the gist to help you get moving!&lt;/strong&gt;&lt;/p&gt;
</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-557-uploader" data-upload-to="edit-section-557-wysiwyg" data-section-id="557" data-company-id="60" data-token="BjuEiSItqGa0kDNWnNJK6be6gMG7IxQSAhXfouQPSDDqcWoG8QSFuof2i44pX5HJAl5e7gvUt5hRLp8b9nbhpv49P4jvgwyY+57QdmNLZYjRg6wG4drd3BaXOaCv6MjkbF2VUIQNEGd5Ejy3w7TbsciTPpV7Rp/mEMYF2GjYj3BalbGJR2P2cR9LcNnM7OKdPSoWzd47gDIPhEb8lg4+r4xHyBRWzMfwQx8kBJ63HVjJXFX0eRnpBrH/ez3q+AqiTfXyhXOAuPKsrReiME1OrpEwqwotiR0AEjwdiPrChHHqsuS4Wxz9M1QhH8SBEN9v8yxTsJHUWSL4pVO9EDDAuQ==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">A Gistly Promise</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/17.jpg" style="max-width: 100%; cursor: default; " /><strong>Gistly promises to NEVER "Feature" apartments in your match</strong>. We believe in 100% objective matches from the start. That is our promise to you. Fair and neutral matching never led by featured advertisers. <strong>We promise to get to the gist to help you get moving!</strong>
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
            <li class="profile-section text-section" data-section-id="476">
               <div class="add-section-bar">
               </div>
               <div class="clear"></div>
               <div class="left">
                  <div class="content">
                  </div>
               </div>
               <div class="center edit-view">
                  <form class="edit" onsubmit="return false;">
                     <input type="hidden" name="sectionId" value="476" />
                     <input type="hidden" name="position" value="1" />
                     <input name="title" type="text" class="heading" placeholder="Title" value="Help Fund Gistly.com" />
                     <textarea id="edit-section-476-wysiwyg" name="body" class=" wysiwyg" rows="20">&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/9.jpg" style="max-width: 100%; cursor: default; "&gt;If you're like most of us, you are probably looking or know someone who is looking for a new apartment right now. And it is time to get away from the old methods of searching and into the new. We promise to deliver the best way to find an apartment online that squarely is focused on the users real wants and needs. &lt;strong&gt;Thanks again for considering Gistly.com!&lt;/strong&gt;&lt;/p&gt;
</textarea>
                     <div class="upload-to-editor-wrapper">
                        <input type="file" name="file" class="upload-to-editor" id="edit-section-476-uploader" data-upload-to="edit-section-476-wysiwyg" data-section-id="476" data-company-id="60" data-token="F0Mw1gOjVcpxpiNCK+bq+b1AclSrOs2vs69AlydUcAASJtfjLIbA5LGNAdMZMLjyoJ3xu4ldgLLeG4ltMW3G+Ow/jHLFEwRJPEByMCzt0IhULTgZ6zd/6KUJuY/ND9hTag7qUlgKs1OGSwMZOsFydEx69Nq24FqZRS/Eae9JOtBqhBUUhPsDy1sSt7n4/8huDwp5jK4xUwqREN3AIwwbs+F7mrsemPjJh+Fw5Z/J80mwBM0qaZqaU8U6m+cLNNah5pDECbpnHasMDqKw+Jd3rx1++2SGSqblbP96QaY3DbANQJFeyG2v7dLtmSmdpDoep0FsIFmSthbVjanAExuKjQ==" data-upload-url="/home/asset/addtoprofilesection" />
                     </div>
                     <button class="btn success save pull-right" style="margin-top:5px;">
                     <span class="success">Save</span>
                     <span class="loading">Saving</span>
                     </button>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="center display-view">
                  <h2 class="title">Help Fund Gistly.com</h2>
                  <div class="user-generated-cotnent body">
                     <p>
                        <img src="https://fundable.blob.core.windows.net/profiles/60/9.jpg" style="max-width: 100%; cursor: default; " />If you're like most of us, you are probably looking or know someone who is looking for a new apartment right now. And it is time to get away from the old methods of searching and into the new. We promise to deliver the best way to find an apartment online that squarely is focused on the users real wants and needs. <strong>Thanks again for considering Gistly.com!</strong>
                     </p>
                  </div>
               </div>
               <div class="right"></div>
               <div class="clear"></div>
            </li>
         </ul>
         <div class="padding10 align-center">
            <div class="cta-wrapper">
               <a class="btn auto cta" href="/pledge/create/214">Back this Startup</a>
            </div>
         </div>
      </div>
      <div class="skinny pull-right">
         <div class="section padded pledge-tier-list">
            <div class="rewards">
               <div class="header align-center">
                  <div class="btn-group centered reward-tabs">
                     <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                     <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                  </div>
               </div>
               <div class="investments padding15 hide align-center">
                  <div class="not-investor">
                     <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                     <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                     <br /><br />
                  </div>
                  <div class="is-investor hide">
                     <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                     <p></p>
                     <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                  </div>
               </div>
               <ul class="reward-list">
                  <li class="reward" data-quantity-available="83">
                     <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                        <h3 class="description">Pledge $25+</h3>
                        <div class="clear"></div>
                        <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                        <small class="terms">
                        <strong class="dark">17 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="46">
                     <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                        <h3 class="description">Pledge $75+</h3>
                        <div class="clear"></div>
                        <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="47">
                     <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                        <h3 class="description">Pledge $150+</h3>
                        <div class="clear"></div>
                        <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="17">
                     <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                        <h3 class="description">Pledge $500+</h3>
                        <div class="clear"></div>
                        <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="2">
                     <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                        <h3 class="description">Pledge $10,000+</h3>
                        <span class="limited">Only 2 remaining!</span>
                        <div class="clear"></div>
                        <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                        <small class="terms">
                        <strong>0 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
   <!-- /div.profile-tab-content -->
   <div class="profile-tab-content hide with-bg" id="team-tab-content" style="display: none; ">
      <div class="team fat pull-left">
         <div class="member">
            <a href="/carmen-benitez" class="box-link black">
               <div class="photo resize-fill" style="background-image: url(https://fundable.blob.core.windows.net/avatars/785/2.jpg); background-size: auto 100%; background-position: 50% 50%; background-repeat: no-repeat no-repeat; "></div>
            </a>
            <div class="bio">
               <h3>Carmen Benitez</h3>
               <h4>Carmen is serial entrepreneur and founder of Fetch Plus a social media technology company with offices in three continents. Her current product, FetchFans.com is powering some of the world's largest brand and media companies' social media pages across 8 countries worldwide. She has a deep understanding of technology and marketing within real estate and property management. She currently serves as Chair: Technology/Strategy for Girls In Technology. She was named the Marketer of the Year by the nation's largest homebuilders association. She will oversee all areas of Gistly.com's technology and product design as well as operations.</h4>
               <div class="clear"></div>
               <p></p>
            </div>
            <div class="clear"></div>
         </div>
         <div class="member">
            <a href="/kristy-millers" class="box-link black">
               <div class="photo resize-fill" style="background-image: url(https://fundable.blob.core.windows.net/avatars/3381/0.jpg); background-size: 100%; background-position: 50% 50%; background-repeat: no-repeat no-repeat; "></div>
            </a>
            <div class="bio">
               <h3>Kristy Millers</h3>
               <h4>Kristy is a highly regarded sales strategist with over 15 years experience in global sales, strategy &amp; management. A specialist in start up business &amp; turn around, Kristy employs new blueprints to make businesses successful. Most recently successful in setting up Sales &amp; Marketing for a privately held online directory, a business turned profitable &amp; sold to one of the world's leading media companies within 3 years from start up. Kristy will be overseeing Sales Strategy &amp; Management for Gistly.</h4>
               <div class="clear"></div>
               <p></p>
            </div>
            <div class="clear"></div>
         </div>
      </div>
      <div class="skinny pull-right">
         <div class="section padded pledge-tier-list">
            <div class="rewards">
               <div class="header align-center">
                  <div class="btn-group centered reward-tabs">
                     <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                     <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                  </div>
               </div>
               <div class="investments padding15 hide align-center">
                  <div class="not-investor">
                     <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                     <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                     <br /><br />
                  </div>
                  <div class="is-investor hide">
                     <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                     <p></p>
                     <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                  </div>
               </div>
               <ul class="reward-list">
                  <li class="reward" data-quantity-available="83">
                     <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                        <h3 class="description">Pledge $25+</h3>
                        <div class="clear"></div>
                        <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                        <small class="terms">
                        <strong class="dark">17 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="46">
                     <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                        <h3 class="description">Pledge $75+</h3>
                        <div class="clear"></div>
                        <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="47">
                     <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                        <h3 class="description">Pledge $150+</h3>
                        <div class="clear"></div>
                        <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="17">
                     <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                        <h3 class="description">Pledge $500+</h3>
                        <div class="clear"></div>
                        <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="2">
                     <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                        <h3 class="description">Pledge $10,000+</h3>
                        <span class="limited">Only 2 remaining!</span>
                        <div class="clear"></div>
                        <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                        <small class="terms">
                        <strong>0 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
         ;
      </div>
      <div class="clear"></div>
   </div>
   <div class="profile-tab-content hide with-bg" id="comments-tab-content" style="display: none; ">
      <div class="fat pull-left">
         <div class="display-view" id="comments-display-view">
            <div class="comments loaded" id="company-comments">
               <div class="new-comment comment highlighted">
                  <form onsubmit="Fundable.CompanyProfile.publishComment(this); return false;" data-is-reply="0" data-reply-to-id="0" data-post-id="0">
                     <div class="photo resize-fill" style="background-image: url(http://www.fundable.com/asset/avatar/me); background-size: auto 100%; background-position: 50% 50%; background-repeat: no-repeat no-repeat; "></div>
                     <div class="arrow-border">
                        <div class="arrow"></div>
                     </div>
                     <div class="bubble">
                        <div class="content">
                           <textarea name="text" placeholder="Post a new comment..." rows="1" onfocus="$(this).attr('rows','3'); $(this).next('div.buttons').show();"></textarea>
                           <div class="buttons hide">
                              <div class="pull-left comment-type hide">
                                 This is a 
                                 <select>
                                    <option>general comment</option>
                                    <option>question</option>
                                    <option>complaint</option>
                                 </select>
                              </div>
                              <div class="buttons">
                                 <button class="btn custom2 custom pull-right small">
                                 <span class="default">Post</span>
                                 <span class="loading">Posting...</span>
                                 </button>
                              </div>
                              <div class="clear"></div>
                           </div>
                        </div>
                     </div>
                     <div class="clear"></div>
                  </form>
               </div>
               <div class="comment" data-comment-id="59">
                  <div class="photo resize-fill" style="background-image: url(http://graph.facebook.com/709830280/picture?type=large); background-size: 100%; background-position: 50% 50%; background-repeat: no-repeat no-repeat; "></div>
                  <div class="arrow-wrapper">
                     <div class="arrow-border">
                        <div class="arrow"></div>
                     </div>
                  </div>
                  <div class="bubble">
                     <div class="content">
                        <h1><a href="/wil">Wil Schroter</a></h1>
                        <h2>6/14/2012</h2>
                        <h3><span class="delete-link" style="display:none;"><a style="font-size:11px;" href="#" onclick="Fundable.CompanyProfile.deleteComment(59);">Delete</a> &nbsp; | &nbsp; </span><button class="btn custom custom2 tiny" onclick="Fundable.CompanyProfile.toggleCommentReply(59);"><span class="pictos">w</span> Reply</button></h3>
                        <div class="clear"></div>
                        <p>Really love this concept.  Having done an exhaustive search for my last apartment in LA, I can definitely say there is a huge need here.</p>
                     </div>
                     <div class="post-reply" style="display: block; ">
                        <form onsubmit="Fundable.CompanyProfile.publishComment(this); return false;" data-is-reply="1" data-reply-to-id="59" data-post-id="0">
                           <textarea name="text" rows="3"></textarea>
                           <div class="pull-right">
                              <button class="custom custom2 btn small">
                              <span class="default">Post</span>
                              <span class="loading">Posting...</span>
                              </button>
                           </div>
                           <div class="clear"></div>
                        </form>
                     </div>
                  </div>
                  <div class="clear"></div>
                  <div class="replies">
                     <div class="comment" data-comment-id="60">
                        <div class="photo resize-fill" style="background-image: url(https://fundable.blob.core.windows.net/avatars/785/2.jpg); background-size: auto 100%; background-position: 50% 50%; background-repeat: no-repeat no-repeat; "></div>
                        <div class="arrow-wrapper">
                           <div class="arrow-border">
                              <div class="arrow"></div>
                           </div>
                        </div>
                        <div class="bubble">
                           <div class="content">
                              <h1><a href="/carmen-benitez">Carmen Benitez</a></h1>
                              <h2>6/14/2012</h2>
                              <h3><span class="delete-link" style="display:none;"><a style="font-size:11px;" href="#" onclick="Fundable.CompanyProfile.deleteComment(60);">Delete</a> &nbsp; | &nbsp; </span><button class="btn custom custom2 tiny" onclick="Fundable.CompanyProfile.toggleCommentReply(60);"><span class="pictos">w</span> Reply</button></h3>
                              <div class="clear"></div>
                              <p>Hey Wil! Really appreciate it! We think it will alleviate massive time and headaches... I personally hate apartment searching online as do most! Please do share with your friends and family!</p>
                           </div>
                           <div class="post-reply" style="display: block; ">
                              <form onsubmit="Fundable.CompanyProfile.publishComment(this); return false;" data-is-reply="1" data-reply-to-id="60" data-post-id="0">
                                 <textarea name="text" rows="3"></textarea>
                                 <div class="pull-right">
                                    <button class="custom custom2 btn small">
                                    <span class="default">Post</span>
                                    <span class="loading">Posting...</span>
                                    </button>
                                 </div>
                                 <div class="clear"></div>
                              </form>
                           </div>
                        </div>
                        <div class="clear"></div>
                        <div class="replies">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="load-more align-center padding10">
               <button class="btn custom custom2 load-more" data-model="comment" data-none-selector="div#comments-tab-content div.no-comments" data-destination-selector="div#comments-tab-content div#company-comments" data-page="2" onclick="Fundable.CompanyProfile.loadMore(this);" data-quantity-loaded="1" data-total="1" style="display: none; ">
               <span class="default">Load More</span>
               <span class="loading">Loading Comments...</span>
               </button>
            </div>
         </div>
         <div class="blank-view empty-page-set hide">
            <div class="no-comments">
               <h1 class="pictos">W</h1>
               <h2>There are no comments yet.</h2>
               <h3 style="font-size:12px;">Only backers and team members can post comments.</h3>
            </div>
         </div>
      </div>
      <div class="skinny pull-right">
         <div class="section padded pledge-tier-list">
            <div class="rewards">
               <div class="header align-center">
                  <div class="btn-group centered reward-tabs">
                     <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                     <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                  </div>
               </div>
               <div class="investments padding15 hide align-center">
                  <div class="not-investor">
                     <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                     <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                     <br /><br />
                  </div>
                  <div class="is-investor hide">
                     <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                     <p></p>
                     <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                  </div>
               </div>
               <ul class="reward-list">
                  <li class="reward" data-quantity-available="83">
                     <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                        <h3 class="description">Pledge $25+</h3>
                        <div class="clear"></div>
                        <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                        <small class="terms">
                        <strong class="dark">17 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="46">
                     <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                        <h3 class="description">Pledge $75+</h3>
                        <div class="clear"></div>
                        <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="47">
                     <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                        <h3 class="description">Pledge $150+</h3>
                        <div class="clear"></div>
                        <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="17">
                     <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                        <h3 class="description">Pledge $500+</h3>
                        <div class="clear"></div>
                        <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="2">
                     <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                        <h3 class="description">Pledge $10,000+</h3>
                        <span class="limited">Only 2 remaining!</span>
                        <div class="clear"></div>
                        <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                        <small class="terms">
                        <strong>0 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
   <div class="profile-tab-content hide with-bg" id="updates-tab-content" style="display: block; ">
      <div class="post-update hide">
         <div class="fat pull-left">
         </div>
         <div class="skinny pull-right">
            <div class="section padded" style="margin-top:20px;">
               <div class="well">
                  <div class="padding10 align-center">
                     <button class="btn success custom custom2 biggish" onclick="Fundable.CompanyProfile.publishBlogPost();" style="width:90%;padding-left:0;padding-right:0;margin-bottom:10px;">
                     <span class="success">Publish</span>
                     <span class="loading">Publishing...</span>
                     </button>
                     <br />
                     or <a href="#" onclick="Fundable.CompanyProfile.dismissNewBlogPostForm();return false;" class="red">cancel</a>
                  </div>
               </div>
            </div>
         </div>
         <div class="clear"></div>
      </div>
      <div class="view-blog">
         <div class="fat pull-left">
            <div class="display-view">
               <div id="blog" class="loaded">
                  <div class="specific-blog-post specific-blog-post-wrapper" style="display: none; ">
                  </div>
                  <div class="posts">
                     <div class="post" data-post-id="36">
                        <div class="display-view">
                           <div class="post-content">
                              <h1 class="pull-left post-title">Release the Kraken! Gistly NOW live on Fundable.com's home page</h1>
                              <div class="clear"></div>
                              <hr class="dashed" />
                              <h2>Written by <a href="#">Carmen Benitez</a></h2>
                              <h2>Posted 6/22/2012</h2>
                              <h2>0 comments</h2>
                              <div class="clear"></div>
                              <div class="post-body user-generated-content">
                                 <p>
                                    Ok... so we're much NICER than the real Kraken! But, awesome news! We've beat our 15% &nbsp;private friends &amp; family crowdfunding and are now LIVE on the Fundable.com Home Page!&nbsp;
                                 </p>
                                 <p>
                                    Please share our efforts to bring Gistly.com to apartment renters to help them get the gist on the perfect home and get moving.
                                 </p>
                                 <p>
                                    Thanks from your Gistly.com team!
                                 </p>
                                 <p>
                                    <img src="https://fundable.blob.core.windows.net/profiles/60/20.jpg" />
                                 </p>
                                 <p>
                                    (the Kraken-- from Clash of the Titans: the original version!)
                                 </p>
                              </div>
                           </div>
                           <div class="well">
                              <div class="comments">
                                 <div class="new-comment comment highlighted" style="border-bottom:none;">
                                    <div class="photo" style="background-image:url(/asset/avatar/me);"></div>
                                    <div class="arrow-border">
                                       <div class="arrow"></div>
                                    </div>
                                    <div class="bubble">
                                       <form onsubmit="Fundable.CompanyProfile.publishComment(this);return false;" data-post-id="36">
                                          <div class="content">
                                             <textarea style="float:left;width:410px;" name="text" placeholder="Post a new comment..." rows="1" onfocus="$(this).attr('rows', '3');$(this).next('div.buttons').show();"></textarea>
                                             <div class="buttons pull-right hide">
                                                <button class="btn custom2 custom pull-right small">
                                                <span class="default">Post</span>
                                                <span class="loading">Posting</span>
                                                </button>
                                             </div>
                                             <div class="clear"></div>
                                          </div>
                                       </form>
                                    </div>
                                    <div class="clear"></div>
                                 </div>
                                 <span class="heading">0 COMMENTS <span class="show-comments">| <a href="#" onclick="Fundable.CompanyProfile.showBlogPostComments(36);return false;">show</a></span></span>
                                 <div class="comment-list hide">
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="edit-view">
                           <span class="heading">EDIT POST</span>
                           <button class="save btn custom custom2 pull-right" onclick="Fundable.CompanyProfile.saveBlogPost(this); return false;">
                           <span class="default">Save</span>
                           <span class="loading">Saving</span>
                           </button>
                           <div class="clear"></div>
                           <form onsubmit="false">
                              <input type="hidden" name="postingId" value="36" />
                              <input type="text" name="title" class="heading" value="Release the Kraken! Gistly NOW live on Fundable.com's home page" />
                              <textarea rows="10" name="body" id="blog-post-36-editor">&lt;p&gt;
	Ok... so we're much NICER than the real Kraken! But, awesome news! We've beat our 15% &nbsp;private friends &amp; family crowdfunding and are now LIVE on the Fundable.com Home Page!&nbsp;&lt;/p&gt;
&lt;p&gt;
	Please share our efforts to bring Gistly.com to apartment renters to help them get the gist on the perfect home and get moving.&lt;/p&gt;
&lt;p&gt;
	Thanks from your Gistly.com team!&lt;/p&gt;
&lt;p&gt;
	&lt;img src="https://fundable.blob.core.windows.net/profiles/60/20.jpg" /&gt;&lt;/p&gt;
&lt;p&gt;
	(the Kraken-- from Clash of the Titans: the original version!)&lt;/p&gt;
</textarea>
                              <div class="upload-to-editor-wrapper">
                                 <input type="file" name="file" class="upload-to-editor" id="blog-post-36-editor-uploader" data-upload-to="blog-post-36-editor" data-company-id="{{Post.CompanyId}}" data-token="dSciEYoGTr8OI/k2/aF43NQ9DC3QtMwOzEIZe++As/KG8IZzv5kPYOL01ZP7HCiY4jX8ko8HC2sCElYYqzZGAupE/cTRqyBRuR4Zindzl+MnfLsoyiX8GtHyNorirSOw7mu9BbdyOvE3Zj1hEON12MTEb8uFPZ+yJNu3lrgahKuVXlepAGD+Hq/Se/gbCxbJtnFu+u1pbQEH+UHoc+4yjgcvi5ggZ8SUz/3aXyx5HYg2Bwdi2jeX9Vu76ahY+zyyuv6gS447pVy2SWZ/taiYgiQGajtUsEN3e2cB6aVYp4VKtBC1mIbZLuCbYWUKqxyzkrspqA8zSY1o6PX+a4fgEg==" data-upload-url="/home/asset/addtoprofilesection" />
                              </div>
                              <div class="clear"></div>
                           </form>
                           <br />
                           <button class="save btn custom custom2 pull-right" onclick="Fundable.CompanyProfile.saveBlogPost(this); return false;">
                           <span class="default">Save</span>
                           <span class="loading">Saving</span>
                           </button>
                           <p class="pull-left"><a onclick="Fundable.CompanyProfile.deleteBlogPost(this);return false;" href="#" class="important">Delete Post</a></p>
                           <div class="clear"></div>
                        </div>
                     </div>
                  </div>
                  <div class="load-more align-center padding10">
                     <button class="btn custom custom2 load-more" data-model="blog-post" data-destination-selector="div#blog div.posts" data-page="2" onclick="Fundable.CompanyProfile.loadMore(this);" data-quantity-loaded="1" data-total="1" style="display: none; ">
                     <span class="default">Load More</span>
                     <span class="loading">Loading Posts...</span>
                     </button>
                  </div>
               </div>
            </div>
            <div class="blank-view empty-page-set hide">
               <h1 class="pictos">W</h1>
               <h2>Gistly.com has not posted anything yet.</h2>
            </div>
         </div>
         <div class="skinny pull-right">
            <div class="section padded pledge-tier-list">
               <div class="rewards">
                  <div class="header align-center">
                     <div class="btn-group centered reward-tabs">
                        <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                        <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                     </div>
                  </div>
                  <div class="investments padding15 hide align-center">
                     <div class="not-investor">
                        <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                        <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                        <br /><br />
                     </div>
                     <div class="is-investor hide">
                        <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                        <p></p>
                        <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                     </div>
                  </div>
                  <ul class="reward-list">
                     <li class="reward" data-quantity-available="83">
                        <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                           <h3 class="description">Pledge $25+</h3>
                           <div class="clear"></div>
                           <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                           <small class="terms">
                           <strong class="dark">17 backers</strong>
                           <br />Delivery within 60 days of successful raise</small>
                           <div class="clear"></div>
                        </a>
                     </li>
                     <li class="reward" data-quantity-available="46">
                        <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                           <h3 class="description">Pledge $75+</h3>
                           <div class="clear"></div>
                           <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                           <small class="terms">
                           <strong class="dark">3 backers</strong>
                           <br />Delivery within 60 days of successful raise</small>
                           <div class="clear"></div>
                        </a>
                     </li>
                     <li class="reward" data-quantity-available="47">
                        <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                           <h3 class="description">Pledge $150+</h3>
                           <div class="clear"></div>
                           <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                           <small class="terms">
                           <strong class="dark">3 backers</strong>
                           <br />Delivery within 60 days of successful raise</small>
                           <div class="clear"></div>
                        </a>
                     </li>
                     <li class="reward" data-quantity-available="17">
                        <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                           <h3 class="description">Pledge $500+</h3>
                           <div class="clear"></div>
                           <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                           <small class="terms">
                           <strong class="dark">3 backers</strong>
                           <br />Delivery within 60 days of successful raise</small>
                           <div class="clear"></div>
                        </a>
                     </li>
                     <li class="reward" data-quantity-available="2">
                        <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                           <h3 class="description">Pledge $10,000+</h3>
                           <span class="limited">Only 2 remaining!</span>
                           <div class="clear"></div>
                           <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                           <small class="terms">
                           <strong>0 backers</strong>
                           <br />Delivery within 60 days of successful raise</small>
                           <div class="clear"></div>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="clear"></div>
      </div>
   </div>
   <div class="profile-tab-content hide with-bg" id="followers-tab-content" style="display: none; ">
      <div class="fat pull-left">
         <div class="display-view">
            <div class="related-users followers">
               <ul class="related-user-list" id="follower-list">
                  <!-- Followers -->
               </ul>
               <div class="load-more align-center padding10">
                  <button class="btn custom custom2 load-more" data-model="follower" data-destination-selector="#follower-list" data-page="1" onclick="Fundable.CompanyProfile.loadMore(this);">
                  <span class="default">Load More</span>
                  <span class="loading">Loading Followers...</span>
                  </button>
               </div>
            </div>
         </div>
         <div class="blank-view empty-page-set hide">
            <h1 class="pictos">g</h1>
            <h2>Nobody has followed Gistly.com yet.</h2>
            <button class="btn custom2 custom biggish follow" data-company-id="60" data-user-is-following="False" data-follow-url="/home/following/togglefollowcompany?id=60" data-token="6zDjg7U2Hb7BdhED9JuvKUZ467pl2Ot/1JnuvjQnIqHxj+SuprXDJZR2LhqfNF9FwKY6vN5S3XuqupNdhFTH6CizagjKnStRbHspLhyALoLHDuBH5q0wdT3Iy7TjCppmS0MTfgE4NcJ2vfsBZFzDx7bzNfzeqySs/KzhTxPq2TEwRANL4wa7YGkN/17r89Un5+8P6tzgfK1m1CZkrqV12H27CYOkGGhaHddruJqlDEJr/DXF3TqtRyZJ2ijn5Qr3sL+LO2XDHnmiQp7FxnFlv6EQ2GdjajJ2z8D5IbMwE+QTex2IckisM6n//JqfgxExNeZCGxhesLY7T66vOABT0Q=="> 
            <span class="success"><span class="pictos">3</span> You're Now Following Gistly.com</span>
            <span class="danger"><span class="pictos">*</span> Unfollow</span>
            <span class="default"><span class="pictos">k</span> Be the First Follower!</span>
            <span class="loading">Loading</span>
            </button>
         </div>
      </div>
      <div class="skinny pull-right">
         <div class="section padded pledge-tier-list">
            <div class="rewards">
               <div class="header align-center">
                  <div class="btn-group centered reward-tabs">
                     <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                     <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                  </div>
               </div>
               <div class="investments padding15 hide align-center">
                  <div class="not-investor">
                     <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                     <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                     <br /><br />
                  </div>
                  <div class="is-investor hide">
                     <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                     <p></p>
                     <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                  </div>
               </div>
               <ul class="reward-list">
                  <li class="reward" data-quantity-available="83">
                     <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                        <h3 class="description">Pledge $25+</h3>
                        <div class="clear"></div>
                        <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                        <small class="terms">
                        <strong class="dark">17 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="46">
                     <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                        <h3 class="description">Pledge $75+</h3>
                        <div class="clear"></div>
                        <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="47">
                     <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                        <h3 class="description">Pledge $150+</h3>
                        <div class="clear"></div>
                        <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="17">
                     <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                        <h3 class="description">Pledge $500+</h3>
                        <div class="clear"></div>
                        <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="2">
                     <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                        <h3 class="description">Pledge $10,000+</h3>
                        <span class="limited">Only 2 remaining!</span>
                        <div class="clear"></div>
                        <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                        <small class="terms">
                        <strong>0 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
   <div class="profile-tab-content hide with-bg" id="backers-tab-content" style="display: none; ">
      <div class="fat pull-left">
         <div class="related-users backers">
            <div class="display-view">
               <ul class="related-user-list" id="backer-list">
               </ul>
               <div class="load-more align-center padding10">
                  <button class="btn custom custom2 load-more" data-model="backer" data-destination-selector="#backer-list" data-page="1" onclick="Fundable.CompanyProfile.loadMore(this);">
                  <span class="default">Load More</span>
                  <span class="loading">Loading Backers...</span>
                  </button>
               </div>
            </div>
            <div class="blank-view empty-page-set hide">
               <h1 class="pictos">%</h1>
               <h2>Gistly.com hasn't been backed yet.</h2>
               <a class="btn custom custom2 biggish" href="/pledge/create/214">Be the First Backer!</a>
            </div>
         </div>
      </div>
      <div class="skinny pull-right">
         <div class="section padded pledge-tier-list">
            <div class="rewards">
               <div class="header align-center">
                  <div class="btn-group centered reward-tabs">
                     <button class="btn custom2 active rewards" onclick="Fundable.CompanyProfile.showRewards();">Pledge Rewards</button>
                     <button class="btn custom2 investments " onclick="Fundable.CompanyProfile.showInvestments();">Equity Investments</button>
                  </div>
               </div>
               <div class="investments padding15 hide align-center">
                  <div class="not-investor">
                     <p>Equity investment details are only visible to users who opt-in as an accredited investors. </p>
                     <a href="#investor-terms-modal" data-toggle="modal">If you are an accredited investor and would like to contact Gistly.com, click here</a>
                     <br /><br />
                  </div>
                  <div class="is-investor hide">
                     <p>Interested in talking to Gistly.com about an equity investment? Accredited investors may contact the company directly through the button bellow.</p>
                     <p></p>
                     <button class="btn custom custom2 message" data-toggle="modal" href="#message-modal" data-to-id="785" data-to-name="Gistly.com" data-subject="" data-body=""><span class="pictos">W</span> Message Gistly.com</button>
                  </div>
               </div>
               <ul class="reward-list">
                  <li class="reward" data-quantity-available="83">
                     <a href="/pledge/create/214?pledgeTierId=902" class="box-link black ">
                        <h3 class="description">Pledge $25+</h3>
                        <div class="clear"></div>
                        <p>A personal phone call from the Founder of Gistly.com to you AND your boss letting each of you know just how cool you are for helping! Plus a shout out on our Gistly.com Twitter / Facebook and blog!</p>
                        <small class="terms">
                        <strong class="dark">17 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="46">
                     <a href="/pledge/create/214?pledgeTierId=903" class="box-link black ">
                        <h3 class="description">Pledge $75+</h3>
                        <div class="clear"></div>
                        <p>A hand-written Gistly recipe book for when you want to get the gist on cooking at home in your new fantabulously found (or soon to be found) Gistly.com apartment</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="47">
                     <a href="/pledge/create/214?pledgeTierId=904" class="box-link black ">
                        <h3 class="description">Pledge $150+</h3>
                        <div class="clear"></div>
                        <p>A custom welcome door mat compliments of Gistly.com PLUS a custom Twitter toilet paper roll from Gistly.com's Twitter feed to make your home feel more like home!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="17">
                     <a href="/pledge/create/214?pledgeTierId=906" class="box-link black ">
                        <h3 class="description">Pledge $500+</h3>
                        <div class="clear"></div>
                        <p>A Gistly.com tree planted in your honor in your local community plus a Gistly.com map that matches your Gistly scorecard in the neighborhood of your choice. SWEET!</p>
                        <small class="terms">
                        <strong class="dark">3 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
                  <li class="reward" data-quantity-available="2">
                     <a href="/pledge/create/214?pledgeTierId=1011" class="box-link black ">
                        <h3 class="description">Pledge $10,000+</h3>
                        <span class="limited">Only 2 remaining!</span>
                        <div class="clear"></div>
                        <p>10 Personal phone calls from some of the leading entrepreneurs and media moguls / journalists in the US and abroad thanking you for helping to fund Gistly.com through Fundable. And we will throw in your photo to our upcoming Gistly.com Get Gistly and Get Moving  bumper sticker!</p>
                        <small class="terms">
                        <strong>0 backers</strong>
                        <br />Delivery within 60 days of successful raise</small>
                        <div class="clear"></div>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>