// Place all the styles related to the Admin::Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin {
  #page_title {
    height: 28px;
    padding: 5px;
  }
  .page {
    .body {
      min-height: 600px;
      border-width: 1px;
      border-style: dotted;
      border-color: gray;
      border-radius: 6px;
    }
  }
}