---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100000&currency=usd&card=tok_048OvvsYbYZk7d&description=CloudFunded%20pledge%20to%20Magical%20Mystery%20Tour1
    headers:
      Authorization:
      - Bearer YM3s0MpK2QhAdVLomUTnOjMVblutovoZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"amount\": 100000,\n  \"amount_refunded\": 0,\n  \"created\":
        1343343183,\n  \"currency\": \"usd\",\n  \"customer\": null,\n  \"description\":
        \"CloudFunded pledge to Magical Mystery Tour1\",\n  \"disputed\": false,\n
        \ \"failure_message\": null,\n  \"fee\": 2930,\n  \"id\": \"ch_048OncHPYekFvY\",\n
        \ \"invoice\": null,\n  \"livemode\": false,\n  \"object\": \"charge\",\n
        \ \"paid\": true,\n  \"refunded\": false,\n  \"card\": {\n    \"address_city\":
        null,\n    \"address_country\": null,\n    \"address_line1\": null,\n    \"address_line1_check\":
        null,\n    \"address_line2\": null,\n    \"address_state\": null,\n    \"address_zip\":
        null,\n    \"address_zip_check\": null,\n    \"country\": \"US\",\n    \"cvc_check\":
        \"pass\",\n    \"exp_month\": 12,\n    \"exp_year\": 2013,\n    \"fingerprint\":
        \"GYDmlM2chjqCo8cW\",\n    \"last4\": \"4242\",\n    \"name\": null,\n    \"object\":
        \"card\",\n    \"type\": \"Visa\"\n  },\n  \"fee_details\": [\n    {\n      \"type\":
        \"stripe_fee\",\n      \"currency\": \"usd\",\n      \"description\": \"Stripe
        processing fees\",\n      \"amount\": 2930,\n      \"application\": null\n
        \   }\n  ]\n}\n"
  recorded_at: Thu, 26 Jul 2012 22:53:03 GMT
recorded_with: VCR 2.2.2
