---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=100000&currency=usd&card=tok_03rFEbvuxGhKBt&description=CloudFunded%20pledge%20to%20Magical%20Mystery%20Tour1
    headers:
      Authorization:
      - Bearer YM3s0MpK2QhAdVLomUTnOjMVblutovoZ
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"charge\": \"ch_03rFS2SUQOpUiN\",\n    \"code\":
        \"card_declined\",\n    \"message\": \"Your card was declined.\",\n    \"type\":
        \"card_error\"\n  }\n}\n"
  recorded_at: Thu, 26 Jul 2012 05:10:17 GMT
recorded_with: VCR 2.2.2
