= render partial: 'application_header'
<<<<<<< HEAD
.project_wizard.container-fluid
=======
.project_wizard.span6.offset2
>>>>>>> 2eaaa7dd77a45b0da3d675b6201916d12be37e6d
  .information
    %h1 Rules and Regulations
  %p
    %b CloudFunded is for teams with a purpose.
  %p We highly encourage you to have a clear vision of how your project is going to make the world a better place. You need to clearly articulate your story, what you are going to do, how you are going to use the resources you raise and how you are going to reward both your backers and the community of people who participate in your project.
  %p
    %b Set the right goals.
  %p Your fundraising goal should be exactly what you need to accomplish the project. Your backers will want to know what funds you need, what you need them for, and how they are going to be put to work. Don’t set your goal too low or too high. Be like Goldilocks and get it just right!
  %p
    %b Reward your community.
  %p You are going out to ask people to support you; you need to support them too! Promising great rewards for your projects is the best way to get folks involved. They have to be rewards you can deliver, so make sure the pledge amounts will cover your costs. In 2012, all projects need to be rewards based. Next year, when investing is legalized, you’ll need to decide exactly what deal you are offering people and disclose any risks that could affect your business.
  %p
    %b Be ready to rock this campaign!
  %p Crowdfunding success means you have to be ready, willing, and able to put yourself and your project out there and create buzz! You need to be fearless in getting the word out, talking to the press, engaging your followers, friends, family, customers and other supporters. You have to build your audience and market this campaign to succeed!
  %p
    %b We all want to know about your track record, your ambition, and your team.
  %p You know why you’re here, you’ve set your goals, you’ve got great rewards and you are ready to tell your story! Great, now we need to hear about your background, your track record, and anyone else involved who’s committed to making this happen with you. Let’s get started!
  %p

    = form_for @project, url: wizard_path do |f|
      .field
        = f.submit 'I Agree!  Let''s Go.'
  