= render partial: 'application_header'
.project_wizard.preview.container-fluid
  .project_page
    = render partial: 'projects/dashboard'

  %h1 This Is How Your Project Will Appear.
  = form_for @project, url: wizard_path do |f|
    = f.submit 'Eeeeeee!!!   Submit It For Review!!'
