= render partial: 'application_header'
.project_wizard.submit_application
  %h1 Ready To Submit Your Application?
  = form_for @project, url: wizard_path do |f|
    = f.submit 'Eeeeeee!!!   Submit It!!'