@font-face {
  font-family:'AdelleRegular';
  src:url(/assets/fonts/adelle_reg-webfont.eot);
  src:url(/assets/fonts/adelle_reg-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/adelle_reg-webfont.woff) format('woff'), url(fonts/adelle_reg-webfont.ttf) format('truetype'), url(fonts/adelle_reg-webfont.svg#AdelleRegular) format('svg');
  font-weight:normal;
  font-style:normal;
}

/* Global Reset & Standards ---------------------- */


body {
  margin: 0px auto;
  font-family: 'Open Sans', sans-serif;  
  background: image-url('deboss.png') 0 0 repeat;
}


h3.centered {
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: .15em;
  margin: 10px 0 20px 0;
  font-size: 18px;
}

.ribbon{
  background: image-url('greyribbon.png') 0 0 no-repeat;
  height: 45px;
  color: #fff;
  margin-left: -26px;
  h2 {
    margin-left: 30px;
    background: #4b5a5d;
    height: 26px;
    padding: 6px 0px;
    font-size: 30px;
    color: #c3c3c3;
    text-shadow: 1px 1px #394445;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    text-indent: 30px;
  }

}




/* Links ---------------------- */

/* Misc ---------------------- */
.highlight { background: #ffff99; }
  aside p { font-size: 13px; line-height: 1.35; font-style: italic; }

h1.display {
  opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
  color: #666;
  text-shadow: -1px -1px #fff;
  padding: 40px 0px 20px 0px;
  margin: 10px 0px 10px 0px;
  border-bottom: 1px solid #d4d4d4;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .15em;
  margin: 10px 0 20px 0;
  font-size: 24px;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}


hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 22px 0 21px; height: 0; }




/* HEADER ---------------------- */


i {
  color: #999;
}

.new {
color: black;
  .field, .field_with_errors {
    background-color: #f5f5f5;
    border-radius: 6px;
    khtml-border-radius: 6px;
    margin-bottom: 10px;
    moz-border-radius: 6px;
    ms-border-radius: 6px;
    o-border-radius: 6px;
    padding: 20px;
    webkit-border-radius: 6px; 

  }
  .field > label, .field_with_errors > label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-align: right;
  }
}




.shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
}
.white {
  background-color: white;
}
.rounded {
  border-radius: 6px;
  khtml-border-radius: 6px;
  moz-border-radius: 6px;
  ms-border-radius: 6px;
  o-border-radius: 6px;
  webkit-border-radius: 6px;
}




input[type="button"], input[type="submit"], input[type="reset"]
{
-webkit-appearance: push-button;

}

input[type="button"], input[type="submit"]:not(.btn), input[type="reset"], .cta {
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px -1px yellow;
  position: relative;
  cursor: pointer;
  overflow: visible;
//  min-width: 300px;
  padding: 18px 50px;

  box-shadow: 0 1px 2px rgba(0, 0, 0, .25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
  border: 1px solid #eec04e;
  border-bottom: 1px solid #d39d47;
  background: #FFA104;
  background: -moz-linear-gradient(top, #fcda51 0%, #e2aa4b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda51), color-stop(100%,#e2aa4b));
  background: -webkit-linear-gradient(top, #fcda51 0%,#e2aa4b 100%);
  background: -o-linear-gradient(top, #fcda51 0%,#e2aa4b 100%);
  background: -ms-linear-gradient(top, #fcda51 0%,#e2aa4b 100%);
  background: linear-gradient(top, #fcda51 0%,#e2aa4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa104', endColorstr='#e2aa4b',GradientType=0 );
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  }


input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, .cta:hover {
  background: #FFA104;
  background: -moz-linear-gradient(top, #e2aa4b 0%, #fcda51 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2aa4b), color-stop(100%,#FFA104));
  background: -webkit-linear-gradient(top, #e2aa4b 0%,#fcda51 100%);
  background: -o-linear-gradient(top, #e2aa4b 0%,#fcda51 100%);
  background: -ms-linear-gradient(top, #e2aa4b 0%,#fcda51 100%);
  background: linear-gradient(top, #e2aa4b 0%,#fcda51 100%);
  text-shadow: -1px 1px yellow;
}


.filter {
  background: url(/assets/images/top.png) 0 0 repeat-x;
}


.member_name a{
  font-size: 12px;
}


.button1 {
margin: 10px;
  display: inline-block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-align: center;

  a {
    color: #333;
 //   text-shadow: 1px 1px #fff;
  }
    
  a:hover {
//    color: #fff;
text-decoration: none;
  } 
  
  a span  {
//  font-size: 18px;
//  color: #666;
  }
}


.small.button1 {
  font-size: 11px;
}

.medium.button1 {
  font-size: 14px;
}

.large.button1 {
  font-size: 24px;
  min-width: 200px;
}


 
/* Colors ---------- */
.blue.button1 {
  background-color: #2daebf;
}
.red.button1 {
  background-color: #e33100;
}
.magenta.button1 {
  background-color: #a9014b;
}
.green.button1 {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(8, 137, 85)), to(rgb(42, 159, 86)));
  background-color: #068f58;
  a {
    color: white;
    text-shadow: -1px -1px #146733;
  }

}

.green.button1:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(42, 159, 86)), to(rgb(8, 137, 85)));
  background-color: #79b979;
}


.yellow.button1{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 214, 114)), to(rgb(251, 176, 16)));
  background-color: #ffb515;
  text-shadow: -1px -1px #ffe87d;
  color: #644c0d;
}
.yellow.button1 a:hover {
  text-shadow: 1px 1px #ffe87d;
  color: #644c0d;
}

.yellow.button1:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(251, 176, 16)), to(rgb(255, 214, 114)));
  background-color: #ffb515;
}

.content{
background: white;
padding: 20px;

}

.graybox  {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: #F4F4F4;
padding: 30px;
margin: 20px 20px 20px 0px;
}

footer {
  margin: 0px auto;
  padding: 20px;
  background:  #084c7c;
  position: relative;
  bottom: 0;
  clear: both;
}


.article .body {
  width: 700px;
  min-height: 200px;
  border-style: none;
  border-width: 1px;
  border-color: transparent;
  border-radius: 8px;
  padding: 15px;
}
