@mixin header-style {
  background: url(/assets/images/top.png) 0 0 repeat-x;
	height: 62px;
	margin: 0px 0px;
	padding: 0px;
	width: 100%;
}

@mixin headerwrap-style {
	padding: 0px 40px;
	width: 980px;
}

@mixin header-link-border {
	padding: 15px 10px 10px 10px;
  border-right: 1px solid #fbd595;
  border-left: 1px solid #e6ad54;
}

@mixin header-link {
	color: #fff;
	text-shadow: -1px -1px #a88852;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

#header {
  @include header-style;
  position:relative;

  .page_title {
  	background: image-url('logo.png') 0 0 no-repeat;
  	clear: none;
  	cursor: pointer;
  	float: left;
  	height: 104px;
  	margin: -20px 0px 0px 20px;
  //  overflow: hidden;
  //  text-indent: -300px;
  	width: 250px;
  }

  ul {
    list-style:none;
  //  overflow: hidden;

    .header_link
    {
      display: table-cell;
    //  float: left;
    	margin-top: 20px;
      &:hover {
        ul.project_categories {
          left: 312px;
          width: 240px;
          padding-right: 0px;
        }
        ul.my_controls {
          left: 812px;
          width: 240px;
          padding-right: 0px;
        }
      }
      &.member_id {
//        position: relative;
        div {
          display: inline;
        }
        img {
          width: 25px;
          position: relative;
          top: 5px;
        }
      }
      
    
      a {
        @include header-link;
        @include header-link-border;
        padding: 16px 18px 16px 18px;
        color: #333;
        text-shadow: 1px 1px  #ffffcc;
        border-left: 2px solid #ffffcc; 
        border-right: 1px solid #e6bb76;
        line-height: 6px;
      }    
      a:hover, a:active {
      	color: #333;
      	text-shadow: -1px -1px  #ffffcc;
      	background-image: -moz-radial-gradient(#fddea1, #f2bd6b);
        background-image: -webkit-radial-gradient(#fddea1, #f2bd6b);
      }
    	ul {
      	background:#f1c579; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
    //    background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
      	list-style:none;
      	position:absolute;
      	padding-left: 0;
      	padding-right: 0;
      	top: 44px;
      	z-index: 1000;
        left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
    	  width: 250px;
      	li {
      	  width: 100%;
      	  @include header-link;
      	  padding-left: 0;
      	  margin-left: 0;
    //      padding-top: 16px;

      	  a {
      	    width: 240px;
        	display: inline-block;
        	border: 0px;
      	  }
      	  a:hover {
      	  background: #f4f4f4;
      	  width: 220px;
      	  padding-right: 0px;
      	  }
      	}
    	}
    }
  }
}

#headerwrap {
  @include headerwrap-style;
}

#footer {
  @include header-style;
}
#footerwrap {
  @include headerwrap-style;
}
