@mixin header-style {
  background: url(/assets/images/top.png) 0 0 repeat-x;
  height: 58px;
  margin: 0px 0px;
  padding: 0px;
  width: 100%; }

@mixin headerwrap-style {
  padding: 0px 40px;
  height: inherit;}

@mixin header-link-border {
  padding: 0px 10px 10px 10px;
  border: none; }

@mixin header-link {
  color: #fff;
  text-shadow: -1px -1px #a88852;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; }

#headerwrap {
  @include headerwrap-style; }

#footer {
  @include header-style; }

#footerwrap {
  @include headerwrap-style; }


#header {
  @include header-style;
  position: relative;
  background: url(/assets/images/headertop.png) 0 0 repeat-x;
  padding: 0;
  margin-top: -15px;
  

  /* * * * * * * * * * * * * * 
   *
   *   #header .page_title
   *    sets the background image for the header.
   *
   * * * * * * * * * * * * * */
  .page_title {
    background: image-url("images/logo.png") 0 0 no-repeat;
    clear: none;
    cursor: pointer;
    float: left;
    height: 100%;
    margin: -5px 100px 0px 20px;
    width: 250px; 
    &:hover {
      background: image-url("images/logo_over.png") 0 0 no-repeat; }}
      
  ul {
    list-style: none;
    
    /* * * * * * * * * * * * * * 
     *
     *   styles that apply only to the main (parent) nav ul
     *   
     * * * * * * * * * * * * * */    
    &.main_nav {
      height: inherit; 
      &> li {
        height: 100%;
        > a {
          display: table-cell;
          height: 100%;
          padding-top: 16px;
        }
      }}
    
    img.fb_sign_in {width: 200px;}
    
    .header_link {
      display: inline-block;
      
      &.project_categories:hover ul {
        left: 412px; }
      &.member_id:hover ul{
        left: 768px; }
      a {
        @include header-link;
        @include header-link-border;
        color: #fff;
        text-shadow: -1px 1px #0a3c67; 
        
        &:hover, &:active {
          color: #053660;
          text-shadow: 1px 1px #098ec6;
          cursor: pointer; } }
      
      // Give space for the user's profile pic in the header bar.
      &.member_id {
        padding-left: 50px;
        > a {
          height: 50px;
        }
        a {
          padding-left: 40px; 
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
          white-space: nowrap;
          } }
        
      /* * * * * * * * * * * * * * 
       *
       *   Styles pertaining to the nested menus.
       *   
       * * * * * * * * * * * * * */
      ul {
        background: #03628a;
        left: -9999px;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        position: absolute;
        top: 40px; 
        width: 240px;
        z-index: 1000;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        -khtml-border-radius: 6px;
        border-radius: 6px;
          
        li {
          width: 100%;
          @include header-link;
          padding-left: 0;
          margin-left: 0;
          a {
            width: 240px;
            padding: 10px;
            font-size: 14px;
            display: inline-block;
            -webkit-transition: background-color 0.15s ease-in-out;
            -moz-transition: background-color 0.15s ease-in-out;
            -o-transition: background-color 0.15s ease-in-out;
            transition: background-color 0.15s ease-in-out; }
          &:last-child, &:last-child a {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px; }
          a:hover {
            background: #ddd;
            text-shadow: none;
            width: 240px; } } } } } }

