// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";
@import "colors.less";
@import "mixins.less";

.static_page {
  h1:first-child {
    .title-header();
  }
  div, p {
    .page-paragraph();
  }
}

.pages h1, .pages .static_page h1:first-child {
padding: 40px 0px;
font-weight: 300;
font-size: 36px;
text-transform: none;
letter-spacing: 0px;
color: #B682A1;
text-shadow: 1px 1px white;
}

