@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

.perk {
  background: #e0e0e0;
  padding: 20px;
  border-radius: 6px;
	khtml-border-radius: 6px;
	moz-border-radius: 6px;
	ms-border-radius: 6px;
	o-border-radius: 6px;
	webkit-border-radius: 6px;
	margin-top: 0px;
  
  &.available {
    border: 3px dotted @black;
  }
}

