// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  cursor: pointer;
	background: #f4f4f4;
	border: 1px solid #ccc;
	float: left;
	height: 520px;
	margin-right: 25px;
	padding: 20px;
	width: 300px;

  .website_link {
    padding-bottom: 6px;
  }
  .description {
    height: 150px;
  }
  td {
  	vertical-align: top;
  }
  p {
  	font-size: 11px;
  	line-height: 16px;
  }
  h2 {
  	font-size: 18px;
  }  
  th {
  	border: 1px solid red;
  	font-size: 10px;
  }
}

.edit_project {
  form {
    #answer {
      height: 24px;
    }
    #map_canvas {
      width: 300px;
      height: 200px;
    }
  }
}

.my_projects {
  .my_project {
    td.image {
      img {
        width: 200px;
        height: 133px;
      }
    }
    span.details {
      h1 {
        display: inline-block;
      }
      .goal {
        width: 300px;
        
      }
    }
  }
}