// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$fb-like-width: 300px;
$right-pane-width: 330px;

.project_page {
  .dashboard {
    position: relative;
    .titleinfo {
      .tagline {
        position: absolute;
        top: 30px;
        left: 300px;
      }
    }
    
    .social {
      top: 0;
      .link {
        position: absolute;
      }
      .pin-it {
        left: $fb-like-width;
      }
      .twitter {
        left: $fb-like-width + 45px;
      }
    }
    
    .right-pane {
      .fund_raising {
        h3 {
          font-size: 24pt;
          text-align: center;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .subtitle {
          text-align: center;
        }
        .progress {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
      .metrics {
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        
        .metric {
          height: 30px;
          font-size: 24pt;
        }
      }
      .back_it {
        margin-top: 0;
        padding: 4px;
        padding-bottom: 0;
        img {
          border: 2px gray inset;
          border-radius: 6px;
        }
      }
      position: absolute;
      border: 1px dotted gray;
      background-color: white;
      top: 118px;
      left: 575px;
      width: $right-pane-width;
      
    }
  }
  
  .details {
    position: relative;
    top: 25px;
    width: 560px;
  }
}


 .project:hover {
 border: 6px solid  #24628D;

 
 }

.project {
  cursor: pointer;
	background: #f4f4f4;
	border: 1px solid #ccc;
	float: left;
	height: 420px;
	margin-right: 10px;
	margin-bottom: 20px;
	padding: 20px;
	width: 300px;
	

  .website_link {
    padding-bottom: 6px;
  }
  
 
  

  td {
  	vertical-align: top;
  }
  p {
  	font-size: 11px;
  	line-height: 16px;
  }
  h2 {
  	font-size: 20px;
  	line-height: 20px;
  	padding: 0px;
  	  	letter-spacing: -1px;
  	color: #333;
  	font-weight: bold;

  }




  th {
  	font-size: 10px;
  }
}

.show_project {
	background: white;
	box-shadow: 2px 2px 3px #333;
	moz-box-shadow: 2px 2px 3px #333;
	webkit-box-shadow: 2px 2px 3px #333;
  .share {
    border-radius: 15px;
 	border: 1px solid #ccc;
    z-index: 0;
    width: 350px;
    height: 170px;
    padding: 20px;
  }
  .project_controls {
    position: absolute;
    top: 100px;
   	right: 1000px;
   p  {
   	padding: 0px;
   	margin: 0px;
   }
  }
  h1 {
  	font-family:"helvetica neue",arial,helvetica,freesans,"liberation sans", sans-serif;
	color: #333;
	text-shadow: none;
	border-bottom: 1px solid #ccc;
  	padding: 30px 30px 0px 30px;
  }
  .project h2 {
  	visibility: hidden;
  }
  .description {
  	margin-top: -60px;
 
  }
  .project h2 {
	font-size: 32px;
	width: 100%;
	}
  .project {
	box-shadow: none;
	moz-box-shadow: none;
	webkit-box-shadow: none;
	}
}

.edit_project {
  form {
    #answer {
      height: 24px;
    }
    #map_canvas {
      width: 300px;
      height: 200px;
    }
  }
}

.my_projects {
  .my_project {
    td.image {
      img {
        width: 200px;
        height: 133px;
      }
    }
    span.details {
      h1 {
        display: inline-block;
      }
      .goal {
        width: 300px;
        
      }
    }
  }
}


.already_pledged h1 {
font-size: 18px;
font-family:"helvetica neue",arial,helvetica,freesans,"liberation sans", sans-serif;
color: #666;
text-shadow: none;
}



.project_listing h1 {
font-family: 'Merriweather', serif;

letter-spacing: -1px;
font-size: 36px;
color: #24628d;
text-shadow: -1px -1px #071d36;
padding: 40px 0px 00px 0px;
}


.project_listing, .show_project {
width: 1100px;
margin: 10px auto;
padding-top: 20px;
margin-top: 20px;
clear: both;



}

.project_listing .description {
height: 40px;
}

.projecteaser {
height: 200px;
overflow: hidden;

}

.projecteaser img {

}

.website_link a {

font-size: 10px;
}

.website_link {
height: 20px;
}


.ui-progressbar {
height: 1.2em;
text-align: left;
overflow: hidden;
background-color: #ccc;
background-image: none;
border: 1px solid #fff;
margin-top: 10px;

}

.standard_description, .short_description {
	padding: 0px 30px;
	
}

.short_description {

margin-bottom: 20px;
font-size: 16px;
}

.project_application_header {
width: 1100px;
font-size: 12px;

}
