// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$fb-like-width: 300px;
$right-pane-width: 300px;

.project_page {
  .details {
    &> div {
      display: table-cell;
    }
    
    #tab_container {
      width: 75%;
    }
    
    .update {
      h3 {
        height: 30px;
      }
      .body {
        min-height: 100px;
      }
    }
  }
  
  
  
  
  .dashboard {
    position: relative;
    background: white;
    padding: 20px;
    min-height: 540px;
    
    li {
      list-style-type: none;
    }

    .social {
      top: 0;
      .link {
        position: absolute;
      }
      .pin-it {
        left: $fb-like-width;
      }
      .twitter {
        left: $fb-like-width + 45px;
      }
    }
    
    h2 {
    
        font-size: 18px;
        font-weight: normal;
    }
    
    .right-pane {

     position: absolute;
     background: #ececec;
     padding: 20px;
     top: 160px;
     left: 600px;
     border-radius: 6px;
     khtml-border-radius: 6px;
     moz-border-radius: 6px;
     ms-border-radius: 6px;
     o-border-radius: 6px;
     webkit-border-radius: 6px;
	
     .fund_raising {
      .progress {
          margin-left: 20px;
          margin-right: 20px;
        }
      }
      .metrics {
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        
        .metric {
          height: 30px;
          font-size: 24pt;
          float: left;
          margin-right: 10px;
          display: block;
            span.small {
              font-size: 12px;
              color: #666;
            }
          }
        }
      .back_it {
        margin-top: 0;
        padding: 4px;
        padding-bottom: 0;
        img {
          border: 2px gray inset;
          border-radius: 6px;
        }
      }      
    }
  }
  
  .details {
    position: relative;
    top: 25px;
    width: 100%;
  }
}

#project_list {
  width: 340px;
}

.project {
  cursor: pointer;
  background: #f4f4f4;
  border: 1px solid #ccc;
  display: table-cell;
  height: 380px;
  margin: 5px;
//  margin-right: 10px;
//  margin-bottom: 20px;
  padding: 10px;
  h2 {
  //  width: 300px;
  //  overflow: hidden;
  
    font-size: 20px;
    padding-top: 20px;
  }
  .description {
    font-size: 12px;
    line-height: 16px;
    padding: 0px 20px;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
    }
  h2:hover {
    color: #d94277;
    cursor: pointer;
    }
  h3 {
    font-size: 16px;
    padding: 0px 20px;
    }


  img {
    background: #FFA104;
    background: -moz-linear-gradient(top, #043f64 0%, #0479aa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#043f64), color-stop(100%,#0479aa));
    background: -webkit-linear-gradient(top, #043f64 0%,#0479aa 100%);
    background: -o-linear-gradient(top, #043f64 0%,#0479aa 100%);
    background: -ms-linear-gradient(top, #043f64 0%,#0479aa 100%);
    background: linear-gradient(top, #043f64 0%,#0479aa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa104', endColorstr='#c06a00',GradientType=0 );
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.69);
    border: 1px solid #08588a;
    border-top: 1px solid #061e3a;
    height: 160px;
    width: 280px;
  }
	

  .website_link {
    padding-bottom: 6px;
//    position: relative;
//    top: 25px;
//    width: 560px;
  }
  h2.tagline {
    font-size: 18px;
    font-weight: normal;
  }
}






.edit_project {
  form {
    #answer_wrapper {
      height: 24px;
    }
    #map_canvas {
      width: 560px;
      height: 310px;
      margin-bottom: 15px;
      border: 2px dotted gray;
      border-radius: 5px;
    }
  }
}

.my_projects {
  .my_project {
    td.image {
      img {
        width: 200px;
        height: 133px;
      }
    }
    span.details {
 
      .goal {
        width: 300px;
        
      }
    }
  }
}

.progress {
  height: 0.8em;
  text-align: left;
  overflow: hidden;
  background-color: #ccc;
  background-image: none;
  border: 1px solid #fff;
  margin-top: 10px;
}

.name {
  h1 {
  text-align: left;
  padding-left: 0px;
  text-indent: 0px;
 }

}

.project_category, .projects{
   
   h1 {
    letter-spacing: -1px;
    line-height: 60px;
    padding: 5px 20px;
    display: block;
    text-shadow: 1px 1px #fff;
   background: #f4f4f4;
   
   }
   li {
    list-style-type: none;
  }
  li {
  width: 300px;
  display: table-cell;
  
  }
   .project {
  width: 300px;
  display: block;
  border: 1px solid #ccc;
  margin-right: 20px;
  clear: both;
  background: white;
  
 
      .button1 {
    margin: 0px 20px 20px 20px;}
  }
}

.ui-widget-header {
  border: 1px solid #006699;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(4, 121, 170)), to(rgb(1, 94, 133)));
  color: white;
}

 
field.more_about_you {
  border-radius: 6px;
  khtml-border-radius: 6px;
  moz-border-radius: 6px;
  ms-border-radius: 6px;
  o-border-radius: 6px;
  webkit-border-radius: 6px;
  background: #ececec;
}


.projecteaser {
  width: 300px;
  float: left;
}
