!!!
%html{lang: 'en-US'}
  %head
    %title= @title || 'CloudFunded: a finance platform for local and sustainable business.'
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => "Content-Type"}
    %link{ :href => 'http://fonts.googleapis.com/css?family=Merriweather', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag    "application", :media => "all"
    = yield :head
  %body
    #header
      #headerwrap
        .page_title
          %h1 CloudFunded
    .container
      = yield
    #footer
      #footerwrap
      #this_is_a_test
