<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#<%= title.gsub(/\s+/, '_').underscore %>">
      <%= title %>
    </a>
  </div>
  <div id="<%= title.gsub(/\s+/, '_').underscore %>" class="accordion-body collapse in">
    <div class="accordion-inner">
      <%= yield%>
    </div>
  </div>
</div>
